@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: "WebsiteFont";
  src: url("./assets/fonts/Futura-Book-font.ttf");
}

@font-face {
  font-family: "WebsiteFontBold";
  src: url("./assets/fonts/Futura-Heavy-font.ttf");
}

@font-face {
  font-family: "WebsiteFontLight";
  src: url("./assets/fonts/Futura-Light-font.ttf");
}

@font-face{
  font-family: "WebsiteFontMedium";
  src: url("./assets/fonts/futura-medium-bt.ttf");
}

.website-font-medium {
  font-family: "WebsiteFontMedium";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f5fbff !important;
  min-height: -moz-available; /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  font-family: "WebsiteFont", Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

p{
  font-family: "Inter";
  line-height: 1.25rem;
}


.hoverFloat {
  transition: transform 0.2s ease-out;
}

.hoverFloat:hover{
  transform: scale(1.06);
}

.prevent-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#text-2xs {
  font-size: 0.625rem /* 10px */;
  line-height: 0.75rem /* 12px */;
}

/* lineup class and keyframes */
.slide-up {
  animation: 2s anim-lineUp ease-out both;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #FFC632;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation-parent:hover {
  .hover-underline-animation::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
